body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  color: #2F86A6;
  font-size: 5.265rem;
  line-height: 2;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

.proimg{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.header{
  text-align: center;
  color: #45b29a;
  padding: 1em 0;
  font-size: 180%;
  font-weight: normal;
  font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}


h2{
  color: #2F86A6;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
}

.top-container{
  background-color: #B5EAEA;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin-top: 100px;
  margin-bottom: 0;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

p{
  line-height: 2;
}

.contact-message{
  margin-bottom: 30px;
}

hr{
  border: dotted #40514E;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.copyright{
  color: #FAFAFA;
  font-size: 0.75rem;
  padding: 20px 0;
}

a{
  color: #2F86A6;
  font-family: 'Montserrat', sans-serif;
  margin:10px 20px;
  text-decoration: none;
}

a:hover{
  color: #161E54;
}


.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.businesswoman-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.ux-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-rainbow{
  position: absolute;
  right:300px;
  top: 40px;
}

.next-rainbow{

  left:250px;
  padding-bottom: 600px;
}

.intro{
  width: 30%;
  margin: auto;
}

.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}

.btn1 {
  background: #34BE82;
  background-image: -webkit-linear-gradient(top, #34BE82, #34BE82);
  background-image: -moz-linear-gradient(top, #34BE82, #34BE82);
  background-image: -ms-linear-gradient(top, #34BE82, #34BE82);
  background-image: -o-linear-gradient(top, #34BE82, #34BE82);
  background-image: linear-gradient(to bottom, #34BE82, #34BE82);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 11px 20px 10px 20px;
  text-decoration: none;
}

.btn1:hover {
  background: #77E4D4;
  background-image: -webkit-linear-gradient(top, #77E4D4, #77E4D4);
  background-image: -moz-linear-gradient(top, #77E4D4, #77E4D4);
  background-image: -ms-linear-gradient(top, #77E4D4, #77E4D4);
  background-image: -o-linear-gradient(top, #77E4D4, #77E4D4);
  background-image: linear-gradient(to bottom, #77E4D4, #77E4D4);
  text-decoration: none;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 1;
  -moz-border-radius: 1;
  border-radius: 1px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 4px 9px 4px 9px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


